footer{
    display: flex;
    font-size: 10px;
    background-color: rgb(123, 123, 160);
    align-content:flex-end;
    height: 100px;
    color: white;
    align-items: flex-end;
    justify-content: center;

}
footer p{
    font-size: 12px;
    color: white;
}